#lsReport{
	display: flex;
	justify-content: flex-start;
	padding:0.2rem 1rem;
	border: 1px solid #eee;
	margin-top: 1px;
	box-sizing: border-box;
	box-shadow: 0px 0px 0.5rem #aaa;
}
#lsReport p{
	line-height: 2.5rem;
	color: #aaa;
	font-size: 1.2rem;
	padding-right: 0.5rem;
}
#lsReport select{
	height: 2.5rem;
	text-align: center;
	padding: 0 1rem;
	color: #aaa;
	border: 0; 
	outline: none;
	font-size: 1rem;
}
#lsReport select option{
	color: #aaa;
	background-color: #fff;
}
.reportcon{
	display: flex;
	justify-content: space-around;
	padding:0.8rem 1rem;
	border-bottom: 1px solid #eee;
	margin-top: 1px;
	box-sizing: border-box;
}
.reportin{
	display: flex;
	justify-content: space-around;
	padding:0.2rem 1rem;
	border: 1px solid #eee;
	margin-top: 1px;
	box-sizing: border-box;
}
.reportcon div,.reportin div{
	flex: 1;
}
.reportcon div:nth-of-type(1),.reportcon div:nth-of-type(1){
	text-align: left;
}
.reportcon div:nth-of-type(3),.reportcon div:nth-of-type(3){
	text-align: right;
}
.reportcon p,.reportin p{
	color:rgba(0,0,0,1);
}
.reportcon div:nth-of-type(1) p,.reportcon div:nth-of-type(1) p{
	color: #A0A0A0;
}
.reportcon div:nth-of-type(2) p,.reportcon div:nth-of-type(2) p{
	color: #323232;
}
.reportcon div:nth-of-type(3) p,.reportcon div:nth-of-type(3) p{
	color: #3A1818;
}