.thismonthaccount{overflow: hidden;padding:20px 55px 0 55px;display: flex;justify-content: space-between;}
.thismonthaccount p{display: flex;justify-content: space-between;flex-direction: column;text-align: center;}
.thismonthaccount p span,.thismonthaccount p b{display: block;text-align: center;}
.thismonthaccount p span{color: #999999;font-size: 12px;}
.thismonthaccount p b{color: #333333;font-size: 20px;}
.writepanebg{overflow: hidden;padding-bottom: 10px;}
.writepanebg a{display: block;width:100%;text-align: center;}
.writepanebg a img{display: inline-block;width:25%;}
.todaylistbg{overflow: hidden;position: relative;top:225px;padding-bottom:50px;}
.todaytime{display: flex;justify-content: space-around;font-size: 12px;color: #969696;border-bottom: 1px solid #E1E1E1;line-height: 46px;}
.todaylist ul{list-style: none;padding:10px 20px;}
.todaylist ul li{display: flex;justify-content:space-between;height:36px;line-height: 36px;padding:5px 0;border-bottom: 1px solid #F5F5F5;margin:5px 0;} 
.todayiconbg{width:36px;height:36px;border-radius: 50%;text-align: center;}
.todayiconbg i{line-height: 36px;font-size: 25px;}
.icontitle{flex:1;text-indent: 12px;font-size: 14px;}
.todayiconprice{flex:1;text-align: center;}
.thiswrite{position:fixed;top:45px;left:0;width:100%;z-index: 99;background: #fff;}
.todayicondate{flex: 1;font-size: 12px;color: #ccc;text-align: right;}
.closedialog{position:absolute;top:0;right:0;font-size: 24px;line-height: 24px;}